/* для элемента input c type="radio" */
.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $border;
    background-color: white;
    border-radius: $border-radius-full;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b2ddc1;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
    background-color: #b2ddc1;
    border-color: #b2ddc1;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem #b2ddc1;
    border-color: $primary;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span::before {
    border-color: #b2ddc1;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background-color: $primary;
    left: 4px;
}

.custom-radio>input:checked+span::before {
    border-color: $primary;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
}