.f {
    &-column {
        flex-direction: column;
    }

    &-grow {
        flex-grow: 1;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}

.justify {
    &-between {
        justify-content: space-between;
    }
    
    &-around {
        justify-content: space-around;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }
}

.align {
    &-between {
        align-items: space-between;
    }
    
    &-around {
        align-items: space-around;
    }

    &-center {
        align-items: center;
    }

    &-end {
        align-items: flex-end;
    }
}