.w {
    &-7 {
        width: 7%;
    }
    &-10 {
        width: 10%;
    }
    &-17 {
        width: 17%;
    }
    &-22 {
        width: 24%;
    }
    &-25 {
        width: 25%;
    }
    &-33 {
        width: 33.3333%;
    }
    &-40 {
        width: 40%;
    }
    &-66 {
        width: 66.6666%;
    }
    &-420 {
        width: 420px;
    }
}